 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: 0.3s;
 }

 *:hover {
   transition: .3s;
 }

 button { cursor: pointer;}
 a { 
   text-decoration: none;
   color: unset;
 }