.homepage-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #35012C;
}
.flip-card {
    background-color: transparent;
    width: 40%;
    height: 40%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    font-size: 2rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
  }
  
  .flipped .flip-card-inner {
    transform: rotateY(180deg);
    transition: transform 0.8s;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #D99AFE;
    color: black;
  }
  
  .flip-card-back {
    background-color: #372F33;
    color: white;
    transform: rotateY(180deg);
  }


  .resolve-container {
      height: 10%;
  }

  .done-container {
      height: 10%;
  }

  .btn-container {
      width: 40%;
      display: flex;
      justify-content: space-between;
  }

  .homepage-container  button {
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 5px;    
}

.homepage-container h3 {
    color: #f1f1f1;
    margin: 5px 0;
}

.resolve-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resolve-container .btn-container {
    width: 40%;
}